*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
.container{
    height: 125vh;
    }

.warpper{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}

.content-side{
    padding-left: 50px;
}

header, nav ul{
  display: flex;
  flex-wrap: wrap;
  color: white;
  background-color: black;
}
header{
    height: 70px;
}

.logo{
    padding-right: 100px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 70px;
    cursor: pointer;
}
header img{
    height: 70px;
}

nav li{
    margin-right: 70px;
    font-size: 1.3rem;
    line-height: 70px;
}

li a{
    color: green;
    
}

.main, .about{
    padding: 50px 0 0 50px;
    position: absolute;
}

.about,
.skills,
.contact{
    opacity: 0;
}

.main h1,
.about h1,
.skills h1,
.contact h1{
    font-size: 3rem;
    color: cornflowerblue;
}

h1:nth-child(2){
   margin-bottom: 20px;
}

.main p{
  font-size: 1.5rem;  
  color: blueviolet;
  margin-bottom: 40px;
}
.main a,
.about a,
.contact button{
    cursor: pointer;
    color: white;
    background-color: black;
    padding: 10px 30px;
    display: inline-block ;
    margin-top: 5px;
    font-size: 1.5rem;
}

.about h1,
.skills h1,
.contact h1{
    margin-bottom: 20px;
}

.about p, 
.skills > p{
    max-width: 650px;
    font-size: 1.3rem;
    margin-bottom: 40px;
    text-align: justify;
}

.skills,
.contact{
    padding: 70px 0 0 50px;
    position: absolute;
}

.skills-card{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    max-width: 700px;
}

.skills-card div{
    border: 2px solid black;
    border-radius: 15px 50px;
    padding: 20px;
    margin: 10px 10px;
    position: relative;
    z-index: 1;

}

.skills-card p{
    max-width: 100%;
    font-size: .9rem;
    margin-top: 10px;
    color: tomato;
    font-weight: 600;
}

.skills img{
    width: 60px;
}

.skills h3{
    text-transform: uppercase;
    color: mediumslateblue;
    margin-top: 10px;

}

form{
    max-width: 500px;

}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    color: black;
}
textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 6px;
    color: black;
}

button{
    border: none;
    cursor: pointer;
}



@keyframes animate{
    form{
        margin-top: 30px;
        margin-left:10px;
    }
    to{
        margin-top: 0;
    }
}

@-webkit-keyframes animate{
    form{
        margin-top: 30px;
        margin-left:10px;
    }
    to{
        margin-top: 0;
    }
}

.assets-side img{
    width: 400px;
    margin-top: 40px;
    position: relative;
    left: 70%;
    right: 70%;
    transform: translateX(-70%);
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}

@media only screen and (max-width: 476px) {
    .assets-side img{
        opacity: 0;
    }
    .main,.about,.skills{
        margin-right: 20px;
    }  

    form{
        max-width: 300px;
        margin-left: 10px;
        text-align: center;
    }
    header, nav ul{
        display: inline;
        color: white;
        background-color: white;
      }
      footer{
        opacity: 0;
        }
  }




